* {
    /* height: 100%;
    width: 100%; */
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0;
}

body {
    /* display: flex;
    flex-direction: row; */
}

html,
body {
    height: 100%;
    width: 100%
}

.main{
    min-height: 100%;
    width: auto;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.navbar {
   background-color: #1f1f3d;
   height: 100%;
   width: 160px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: flex-start;

}

.nav-title {
  color: #E9E9F3;
 }

.nav-filter-title {
  color: #BFBFDD;
 }

.nav-button {
  color: #E9E9F3;
  background-color: #5356A4
 }

 .nav-title,
 .nav-filter-title,
 .nav-button {
   padding-top: 20px;
   padding-bottom: 20px;
 }

.upper-body {
    background-color: #a9aad2;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.lower-body{
    background-color: #eaeaf4;
    height: 100px;
    width: 150px;
    display: flex;
}
