* {
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0;
    font-family: "Open Sans";
}

html,
body {
    height: 100%;
    width: 100%;
    
}

#wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    width: 1500px;
}

.side-bar {
   background-color: #1f1f3d;
   display: flex;
   flex-direction: column;
   height: 2300px;
   width: 550px;
}

.side-title {
    color: #E9E9F3;
    font-size: 38px;
    font-weight: 600;
    margin: 20px;
}

.side-filter-title {
    color: #BFBFDD;
    font-size: 32px;
    font-weight: 525;
    margin-top: 20px;
    margin-left: 20px;
}

.side-title,
.side-filter-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 14px;
}

.side-button {
  color: #E9E9F3;
  background-color: #5356A4;
  height: 90px;
  width: 480px;
  align-self: center;
  font-size: 42px;
  font-weight: 525;
  margin-bottom: 53px;
  margin-top: 34px;
  padding-right: 30px;
  padding-left: 20px;
 }

.upper-body {
    background-color: #a9aad2;
    height: 800px;
    justify-content: center;
}

.lower-body {
    background-color: #eaeaf4;
    height: 1500px;
}

.upper-body,
.lower-body {
    display: flex;
    width: 1650px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    height: 100px; 
}


textarea {
    height: 190px;
    resize: none;
}

.save-button {
    background-color: #1f1f3d;
    color: #E9E9f3;
    height: 90px;;
    margin-top: 5px;
    margin-bottom: 20px;
    align-self: center;
    font-size: 50px;
    font-weight: 525;
}

#search-container {
    display: flex;
    height: 100px;
    flex-direction: row-reverse;
    margin-bottom: 12px;
}

input,
textarea,
.save-button,
#search-container {
    border-radius: 3px;
    border: 3px solid #5356A4;;
    width: 35vw;
}

.title-label,
.body-label {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 650;
}

.search-bar {
    border: 2px solid;
    font-size: 35px;
}


article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 3px; */
    padding: 30px;
    width: 1650px;
    align-items: start;
    justify-items: center;
    height: 1180px;
}

.card-container {
    height: 550px;
    border: 3px solid #1f1f3d;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 12px;
}

.card-header {
    justify-content: space-between;
    background-color: #1f1f3d;
    align-items: center;
}

.card-footer {
    align-items: center;
    background-color: #5356a4;
}

.card-header,
.card-footer {
    height: 80px;
}

.card-container,
.card-header,
.card-footer {
    display: flex;
    width: 480px;
}

.comment-text {
    color: #E9E9F3;
}

.red-star-icon,
.white-x-icon,
.comment-icon {
    height: 70px;
    width: 70px;
}

.search-icon {
    height: 60px;
    padding: 20px;
    width: 65px;
    background-color: #1f1f3d;
    border-radius: 2px;
}
.card-title {
    font-size: 45px;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 15px;
}

.card-body {
    font-weight: lighter;
    font-size: 40px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.horizontal-rule {
    border: 2px solid #353567;
}

.comment-text {
    font-size: 33px;
    font-weight: 700px;
}

